In [ ]:
pwd

High-level programming language

OOPS, everything in python is an object

Interpreted

Clean syntax (indentation to represents blocks of code) / Comprehensive

Data Science/ ML --> Numpy, Pandas, Sci-py, Matplotlib/Seaborn/ggplot2/plotly,Sci-kit/sk-learn, statsmodel

Deep learning --> Tensorflow, Keras, Pytorch, Theano, OpenCV, OpenAI

Networking/Socket programming --> Ordinov, Raspberry pie, Socket, Multi-threading, pool

Testing & Debugging --> Selenium, Unit-test, Pylint, Debugger

Web crawling --> Beautiful soup, snapy, url lib

In [ ]:
v1=100+80

In [ ]:
# type is a in-built function
type(v1)

In [ ]:
v2 = 200

In [ ]:
v1<=v2

In [ ]:
v2==v1

In [ ]:
# Scope of a variable follows LEGB rule

In [ ]:
x = 20

def scope():
    #print("The value of x is :", x)
    x = 15
    print("The value of x is now changed to :", x)

In [ ]:
scope()

In [ ]:
x

In [ ]:
x = 20

def scope():
    global x
    print("The value of x is :", x)
    x = 15
    print("The value of x is now changed to :", x)

In [ ]:
scope()

In [ ]:
x

In [ ]:
num_students = 3

s1 = "John"
s2 = "Monika"
s3 = "Peter"

In [ ]:
# Late binding offers better flexibility

n = int(input("Enter the number of students"))

s11 = input("Enter the name")
s12 = input("Enter the name")
s13 = input("Enter the name")

In [ ]:
# Ordered Data Structures --> Strings, Lists, Tuples, Arrays, nd arrays, series, dataframes

# Unordered Data Structures --> Dictionaries, Sets

In [ ]:
s="Hello, this is our first class"

In [ ]:
len(s)

In [ ]:
# Indices starts with 0 in python, end index is exclusive

In [ ]:
s[29]

In [ ]:
s[4]

In [ ]:
s[7:]

In [ ]:
s[:7]

In [ ]:
s[7:12]

In [ ]:
s[-8:-1]

In [ ]:
s[::]

In [ ]:
s[::2]

In [ ]:
s[::-1]

In [ ]:
s.__dir__()

In [ ]:
dir(s)

In [ ]:
s[7:].capitalize()

In [ ]:
s.__contains__('f')

In [ ]:
s.__add__(", what's up?")

In [ ]:
s.upper()

In [ ]:
"hi"+"hi"

In [ ]:
"hi"+10

In [ ]:
"hi"*3

In [ ]:
s1 = "i have orenges"

In [ ]:
# Immutable --> 'str' object does not support item assignment
s1[9] = 'a'

In [ ]:
s1[7:].replace('e','a')

In [ ]:
s1.replace('orenges','oranges')

In [ ]:
s1[:9]+'a'+s1[10:]

In [ ]:
s1.split(" ")

In [ ]:
"10"

In [ ]:
str(10)

In [ ]:
# List --> Collection object, most flexible data type

In [ ]:
l = ["Blr",22,"Mum",24,"Blr"]

In [ ]:
l.append(['Blr',2,'Mum',3])

In [ ]:
l[:3]

In [ ]:
l[4][2].upper()

In [ ]:
# Mutable
l[3] = 26

In [ ]:
l.insert(4, 100)

In [ ]:
l.pop()

In [ ]:
l.remove('Mum')

In [ ]:
# Tuples --> Immutable

In [ ]:
t = 1,'a'

In [ ]:
t = ('blr',100,'mlr',400,['hi','hello',500])

In [ ]:
t[4][1].upper()

In [ ]:
t[4][0] = "hey"

In [ ]:
t[2] = 'mys'

In [ ]:
t.index('blr')

In [ ]:
t.count('mlr')

In [ ]:
# Dictionaries --> Key & value pairs

In [ ]:
d = {}

In [ ]:
d['ID'] = [1,2,3]

In [ ]:
d['Name'] = ['John','Peter','Monika']

In [ ]:
d['Salary'] = (1000,2000,4000)

In [ ]:
d['Name'][2]

In [ ]:
d.get('Name')[1]

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
del(d['Salary'])

In [ ]:
d.pop('ID')

In [ ]:
# Sets --> Unique collection of items

In [ ]:
s1 = {1,2,3,1,4,5,6,1,2,3,4}

In [ ]:
s2 = {4,5,6}

In [ ]:
set(l)

In [ ]:
s1.difference(s2)

In [ ]:
s2.issubset(s1)

In [ ]:
s1|s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1&s2

In [ ]:
s1.union(s2)

In [ ]:
s1.difference_update(s2)

In [ ]:
marks =40

if (marks >= 80):
    print("Awesome")
elif (marks < 80) & (marks > 60):
    print("Improve")
else:
    print("Failed")

In [ ]:
# Ask the user for the amount to be withdrawn, and show the updated balance
# If the balance is sufficient, show the balance after withdrawal

# Ask the user for input, if input is greater than zero, print positive
and then check if the input is multiple of 2, print, check if it is a multiple of 5, print accordingly

In [ ]:
n = int(input("Enter a number"))
if (n>0):
    print("Positive")
    
    if (n%5==0) and (n%2==0):
        print("Multiple of both 2 & 5")
    elif (n%2==0):
        print("Multiple of 2")
    elif (n%5==0):
        print("Multiple of 5")
    
    else:
        print("It is not a multiple of both 2 & 5")
else:
    print("Negative number")

In [ ]:
for i in "hello world":
    print(i, end = '_')

In [ ]:
for i in l:
    print(i, end = " ")

In [ ]:
l = [1,2,3,"hi","hello"]

In [ ]:
for i in d:
    print(i)

In [ ]:
for i,j in d.items():
    print(i,j)

In [ ]:
t = ((1,'blr'),(2,'mum'),(3,'hyd'),(4,'del'))

In [ ]:
for i in t:
    print(i)

In [ ]:
for i,j in t:
    print(j)

In [ ]:
for i,j in d.items():
    print(i,j[1])

In [ ]:
# pass (do nothing), continue (puts the cursor back into iterator upon condition is met), break (breaks out of the loop)

In [ ]:
num = 0
for i in range(10):
    #num=num+1
    num+=1
    if num==5:
        #pass
        #break
        continue
    print("The number is now:", num)

In [ ]:
num = 5

while num>0:
    print(num)
    num-=1

var = 88
Ask the user for a input, unless the user guess the right number keep looping back and forth,
guide the user whether the guessed number is lesser and greater than the desired output

In [ ]:
l = []
for i in range(10):
    l.append(i*i)

In [ ]:
l = []
for i in range(10):
    if i%2==0:
        l.append(i*i)

In [ ]:
[i*i for i in range(10)  if i%2==0]

In [ ]:
def fn(x):
    print(x*x)

In [ ]:
op = fn(10)

In [ ]:
type(op)

In [ ]:
def fn(x=8):
    return x*x

In [ ]:
op1=fn(10)

In [ ]:
type(op1)

In [ ]:
def fn1(x1,x2):
    return sum([x1,x2])

In [ ]:
fn1(10,20,30,40,50)

In [ ]:
def fn1(*x1):
    return sum([*x1])

In [ ]:
fn1(10,20,80,55,100,150)

In [ ]:
def fn2(**kargs):
    for k,v in kargs.items():
        print(k,v)

In [ ]:
fn2(blr=28,mys=24, mum=22)

In [ ]:
# map, filter, reduce, lambda, zip, yield, iter, decorators, enumerate

In [ ]:
fn(l)

In [ ]:
for i in l:
    print(fn(i))

In [ ]:
list(map(fn,l))

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
# Write a function to implement selection sort to return the maximum of a given iterable object

In [ ]:
max([10,18,22,7,54,17])

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y:x+y,l)

In [ ]:
reduce(lambda x,y:x if x>y else y,l)

In [ ]:
# Exception handling

In [ ]:
try:
    num=8/int(input("Enter a number"))
    print(num)
except:
    print("Something not right")

In [ ]:
try:
    num=8/int(input("Enter a number"))
    print(num)
except ZeroDivisionError as zd:
    print(zd.args)
except ValueError as ve:
    print(ve.args)
finally:
    print("This will always be executed")

In [ ]:
num=8/int(input("Enter a number"))

In [ ]:
# Modules & Packages

In [ ]:
pwd

In [ ]:
import math

In [ ]:
math.pow(8,2)

In [ ]:
math.sqrt(64)

In [ ]:
from math import sqrt as abcd,pow,exp, log

In [ ]:
sqrt(100)

In [ ]:
abcd(1000)

In [ ]:
import sys

In [ ]:
help(sys)

In [ ]:
for i in sys.argv:
    print(i)

In [ ]:
sys.path

In [ ]:
sys.__name__

In [ ]:
sys.__dir__()

In [ ]:
l = [1,2,3,4]

In [ ]:
l1 = [20,30,40,50]

In [ ]:
l+l1

In [ ]:
import numpy as np

In [ ]:
a1 = np.array(l)

In [ ]:
a2 = np.array(l1)

In [ ]:
a1+a2

In [ ]:
a1=a1.reshape(2,2)

In [ ]:
a2 = a2.reshape(2,2)

In [ ]:
a1+a2

In [ ]:
arr = np.array([[12,17,15,10,20,100,5,8,14,25,50,88]]).reshape(4,3)

In [ ]:
arr[1,2]

In [ ]:
arr[1:,:]

In [ ]:
arr[:,:2]

In [ ]:
arr[:2,[0,2]]

In [ ]:
arr[::3,[0,2]]

In [ ]:
arr.flatten()

In [ ]:
arr.cumsum()

In [ ]:
arr.max()

In [ ]:
arr.argmax()

In [ ]:
arr.T

In [ ]:
arr.transpose()

In [ ]:
arr.reshape(3,4)

In [ ]:
arr.shape

In [ ]:
np.random.rand(2,2)

In [ ]:
np.random.randint(1,4,2)

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(np.random.randn(50000))

In [ ]:
np.hstack(arr)

In [ ]:
np.vstack(arr)

In [ ]:
help(np.vstack)

In [ ]:
# Pandas --> Data manipulation & analysis tool

In [ ]:
# Series   --> One row, column
# Dataframes

In [ ]:
import pandas as pd

In [ ]:
s=pd.Series([1,8,4,3,10,14])

In [ ]:
s.shape

In [ ]:
pd.Series(l1)

In [ ]:
temp = pd.Series([12,18,22,24,28], index=['Shimla','Manali','Blr','Mum','Che'])

In [ ]:
temp[0]

In [ ]:
temp[3:]

In [ ]:
temp['Blr':]

In [ ]:
dates=pd.date_range('20230915', periods=6, freq='M')

In [ ]:
pd.date_range('20230915', periods=6, freq='6M')

In [ ]:
d=pd.Series([100,250,654,154,500,200], index=dates)

In [ ]:
d.sort_values(ascending=False)

In [ ]:
df = pd.DataFrame(arr, columns=['x','y','z'])

In [ ]:
df_labels = pd.DataFrame([[100,200,300,'Blr'],[18,16,22,'Mlr'],[25,55,88,'Mys']], columns=['sal','temp','fee','city'], 
                  index=['June','Aug','Dec'])

In [ ]:
df_labels

In [ ]:
df = pd.DataFrame({'Days':['Mon','Tue','Wed','Thu','Fri'],'Temp':[22,18,16,24,32],'Rained':['Yes','No','yes','No','Yes']})

[] --> Access columns with labels and rows by index

loc --> Pure label based indexing

iloc --> Pure integer based indexing

. --> sql

iat, ix

In [ ]:
df_labels

In [ ]:
df_labels['sal'][2]

In [ ]:
df_labels['sal'][:2]

In [ ]:
df_labels[:3][['sal','city']]

In [ ]:
df_labels.loc[['June','Aug']][['sal','city']]

In [ ]:
df.loc[:2]['Days']

In [ ]:
df_labels.loc[:2]

In [ ]:
df.iloc[[0,3,4],[0,2]]

In [ ]:
df.Days[4]

In [ ]:
df['Cloudy'] = ['Yes','No','Yes','Yes','No']

In [ ]:
# axis by default is "zero" (refers to rows), need to mark it as "one" (in order to refer to columns)

In [ ]:
# Inplace by default is marked as "false", marking it "true" makes the deletion permanent

In [ ]:
df.drop('Cloudy', axis=1, inplace=True)

In [ ]:
df.insert(2,'Cloudy',['Yes','No','Yes','Yes','No'])

In [ ]:
df.loc[5]=['Sat',19,'Yes','No']

In [ ]:
help(df.append)

In [ ]:
# Conditional subsetting

In [ ]:
df[df['Temp']>20]

In [ ]:
df[(df['Temp']>20) & (df['Cloudy']=='Yes')]

In [ ]:
df[(df['Temp']>20) | (df['Cloudy']=='Yes')]

In [ ]:
df[df['Temp']>20]

In [ ]:
df[df['Rained']=='Yes']

In [ ]:
df[df['Rained'].str.lower()=='yes']

In [ ]:
df[df['Rained'].str.capitalize()=='Yes'][['Days','Temp']]

In [ ]:
stock = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['High','Low','Open','Close'])

In [ ]:
# Sort_index, Sort_values, Reset index, Re-index, Ignore index

In [ ]:
stock.sort_index(ascending=False)

In [ ]:
stock.sort_values(by='Open', ascending=False)

In [ ]:
stock.reset_index()

In [ ]:
stock.reset_index(drop=True)

In [ ]:
help(stock.rename)

In [ ]:
help(df.)

In [ ]:
d=df_labels.reset_index()

In [ ]:
d=d.rename(columns={'index':'months'})

In [ ]:
df_labels

In [ ]:
help(df.reindex)

In [ ]:
ind = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

In [ ]:
df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},index=ind)

In [ ]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'Firefox','Chrome']

In [ ]:
df.reindex(index=new_index)

In [ ]:
# Data Science Lifecycle

Data Engineering --> Data Collection, storage, management, processing & maintanance [Excel,RDBMS,BigData,Cloud]

Data Analytics --> Analysis, maths, stats, domain expertise [Excel, SQL, R, Pandas, Pyspark]

Business Intelligence / Data Visualization --> Reports, presentations, charts, dashboards [Power BI, Tableau, Cognos, Lookr]

Advanced Analytics --> ML, DL, Gen AI, Conversational AI [sklearn, statsmodel,Tensorflow, Keras, Pytorch, Pyspark]

SOLUTION DEVELOPMENT

In [ ]:
'i\'m new here'

In [ ]:
df = pd.read_csv("D:data/churn.csv")

In [ ]:
# Take a peek of the data
df.head(5)

In [ ]:
df.tail(10)

In [ ]:
# Prepare a data dictionary

In [ ]:
df.shape

In [ ]:
# Exploratory Data Analytics (EDA) & Data Cleaning

In [ ]:
# Descriptive statistics

In [ ]:
# Uni-variate Analysis

# Bi-variate Analysis

In [ ]:
# Measures of Central Tendency --> Mean, Median & Mode

# Measures of Dispersion --> Range, Min, Max, Quartiles, Variance, Standard Deviation

# Measures of Shape --> Skewness & Kurtosis

In [ ]:
sns.distplot(df['CreditScore'])

In [ ]:
df['CreditScore'].mean()

In [ ]:
df['CreditScore'].median()

In [ ]:
df['Geography'].mode()

In [ ]:
df['Geography'].value_counts()

In [ ]:
df['CreditScore'].min()

In [ ]:
df['CreditScore'].max()

In [ ]:
df['CreditScore'].var()

In [ ]:
df['CreditScore'].std()

In [ ]:
sns.boxplot(y=df['CreditScore'])

In [ ]:
sns.boxplot(df['CreditScore'])

In [ ]:
q1=df['CreditScore'].quantile(0.25)

In [ ]:
q3=df['CreditScore'].quantile(0.75)

In [ ]:
iqr = q3-q1

In [ ]:
lw = q1-1.5*(iqr)

In [ ]:
uw = q3+1.5*(iqr)

In [ ]:
df['CreditScore'].skew()

In [ ]:
# Skewness is between -0.5 & +0.5 --> Symmetrical
# -1 & -0.5 or 0.5 & +1 --> Moderately skewed
# More than 1 or less than -1 --> Highly skewed

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(df['CreditScore'], bins=5)

In [ ]:
plt.plot(df['CreditScore'])

In [ ]:
sns.barplot(y=df['CreditScore'], x=df['Geography'])

In [ ]:
df['Geography'].unique()

In [ ]:
df['Geography'].nunique()

In [ ]:
df['Geography'].value_counts()

In [ ]:
sns.countplot(df['Geography'], hue=df['Gender'])

In [ ]:
sns.countplot(df['Gender'])

In [ ]:
sns.boxplot(df['Geography'],df['EstimatedSalary'])

In [ ]:
plt.scatter(df['CreditScore'],df['Balance'])
plt.xlabel("CReditScore")
plt.ylabel("Balance")
plt.show()

In [ ]:
sns.countplot(df['Exited'])

In [ ]:
df['Exited'].value_counts()

In [ ]:
pd.crosstab(df['Geography'],df['Exited'])

In [ ]:
sns.barplot(df['Geography'],df['Exited'])

In [ ]:
sns.countplot(df['Geography'])

In [ ]:
sns.boxplot(df['Geography'], df['Balance'])

In [ ]:
round(df.describe(),2).T

In [ ]:
df['IsActiveMember'].value_counts()

In [ ]:
df.info()

In [ ]:
# Data Manipulation

In [ ]:
# Joins/Merge, Group by & aggregations, Concatenations, Pivot tables

In [ ]:
df.groupby('Geography').mean()

In [ ]:
df.columns

In [ ]:
df[['Geography','CreditScore','Balance','EstimatedSalary']].groupby('Geography').mean()

In [ ]:
grp = df[['Geography','CreditScore','Balance','EstimatedSalary']].groupby('Geography')

In [ ]:
g1=grp.mean()

In [ ]:
grp.std()

In [ ]:
grp.max()

In [ ]:
grp1=df.groupby('Geography').agg({'CreditScore':['min','max',np.mean],'Exited':['count',np.mean],
                             'EstimatedSalary':[np.mean,np.std,'max','min']})

In [ ]:
sns.boxplot(df['Geography'],df['EstimatedSalary'])

In [ ]:
pd.concat([g1,grp1], axis=1)

In [ ]:
df.groupby('Geography').Balance.agg(np.mean)

In [ ]:
help(df.reset_index)

In [ ]:
# Joins

In [ ]:
df1 = pd.DataFrame({'Key1':['a','b','c','d'],'Val1':[1,8,5,12]})

In [ ]:
df2 = pd.DataFrame({'Key2':['a','c','x','y'],'Val2':[10,20,30,40]})

In [ ]:
pd.merge(df1,df2, left_on='Key1',right_on='Key2')

In [ ]:
pd.merge(df1,df2, how='outer',left_on='Key1',right_on='Key2')

In [ ]:
pd.merge(df1,df2, how='left',left_on='Key1',right_on='Key2')

In [ ]:
pd.merge(df1,df2, how='right',left_on='Key1',right_on='Key2')

In [ ]:
df2=df2.rename(columns={'Key2':'Key1','Val2':'Val1'})

In [ ]:
pd.concat([df1,df2], ignore_index=True)